<section id="about" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <img class='profile-pic' src='/images/profile.jpg'>
        <h2 class="section-heading">About Me</h2>
        <hr class="light">
        <p class="text-faded">Montana born and raised husband to one and father to four.  I have a passion for making things great, and enjoy problem solving and creative thinking.  A self-motivated hard worker with a drive to be the best.  When I'm not coding you can find me making music, hiking, golfing, or most likely changing a diaper.</p>
        <hr class="light">
        <a href="#services" class="btn btn-default btn-xl page-scroll">
          <i class="fa fa-angle-double-down fa-lg"></i>
          Technologies Used
        </a>
      </div>
    </div>
  </div>
</section>
