<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Contact</h2>
        <hr class="primary">
        <p>Let's get together yeah yeah yeah!</p>
      </div>
      <div class="col-lg-4 text-center">
        <p>
          <i data-wow-delay=".1s" class="fa fa-envelope-o fa-1x wow bounceIn"></i>
          <a href="mailto:mikeulvila@me.com">mikeulvila@me.com</a>
        </p>
      </div>
      <div class="social-links col-lg-4 text-center">
        <a href="https://github.com/mikeulvila" data-wow-delay=".1s" class="fa fa-github fa-3x wow bounceIn" target='_blank'></a>
        <a href="http://www.linkedin.com/in/mike-ulvila-702b9488" data-wow-delay=".1s" class="fa fa-linkedin fa-3x wow bounceIn" target='_blank'></a>
      </div>

    </div>
  </div>
</section>
