<section id="portfolio" class="no-padding">
  <aside class="bg-dark">
    <div class="container text-center">
      <div class="call-to-action">
        <h2>Portfolio</h2>
      </div>
    </div>
  </aside>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-6 col-sm-6">
        <a href="http://www.nashvillenumberpad.com" class="portfolio-box"><img src="/images/NashvilleNumberPad.png" alt="" class="img-responsive">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Nashville Number Pad</div>
              <div class="project-category text-faded">A simple way to write Nashville number charts.</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-sm-6">
        <a href="#" class="portfolio-box"><img src="/images/cowriterfinder.png" alt="" class="img-responsive">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Cowriter Finder</div>
              <div class="project-category text-faded">A new way to connect with songwriters.</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
