<section id="portfolio" class="no-padding">
  <aside class="bg-dark">
    <div class="container text-center">
      <div class="call-to-action">
        <h2>Portfolio</h2>
      </div>
    </div>
  </aside>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box"><img src="/images/NashvilleNumberPad.png" alt="" class="img-responsive">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Nashville Number Pad</div>
              <div class="project-category text-faded">A simple way to write Nashville number charts.</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box"><img src="/images/NashvilleNumberPad.png" alt="" class="img-responsive">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Final Capstone Project</div>
              <div class="project-category text-faded">Coming Soon!</div>
            </div>
          </div>
        </a>
      </div>
     <!--  <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box"><img src="/img/portfolio/3.jpg" alt="" class="img-responsive">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Something Else</div>
              <div class="project-category text-faded">Maybe another project to showcase</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box"><img src="/img/portfolio/4.jpg" alt="" class="img-responsive">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">iPad Version Of Number Pad</div>
              <div class="project-category text-faded">Clips and snippets of ionic version of Nashville Number Pad.</div>
            </div>
          </div>
        </a>
      </div> -->
    </div>
  </div>
</section>
