<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Technologies Used</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.5s' class='wow bounceIn text-primary' src="/images/tech/JS6_Logo.png">
          <h3>Javascript</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.8s' class='wow bounceIn text-primary' src="/images/tech/nodejs.png">
          <h3>Node.JS</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.7s' class='wow bounceIn text-primary' src="/images/tech/mongodb.png">
          <h3>MongoDB</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.1s' class='wow bounceIn text-primary' src="/images/tech/angular.png">
          <h3>AngularJS</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='1s' class='wow bounceIn text-primary' src="/images/tech/html5.png">
          <h3>HTML5</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.4s' class='wow bounceIn text-primary' src="/images/tech/css3.png">
          <h3>CSS3</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.2s' class='wow bounceIn text-primary' src="/images/tech/postgresql-logo.png">
          <h3>PostgreSQL</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.4s' class='wow bounceIn text-primary' src="/images/tech/ionic-logo.png">
          <h3>Ionic</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.2s' class='wow bounceIn text-primary' src="/images/tech/bootstrap.png">
          <h3>Bootstrap</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.3s' class='wow bounceIn text-primary' src="/images/tech/bower.png">
          <h3>Bower</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.5s' class='wow bounceIn text-primary' src="/images/tech/firebase.png">
          <h3>Firebase</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.6s' class='wow bounceIn text-primary' src="/images/tech/github.png">
          <h3>Github</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.7s' class='wow bounceIn text-primary' src="/images/tech/grunt.png">
          <h3>Grunt</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.8s' class='wow bounceIn text-primary' src="/images/tech/gulp.png">
          <h3>Gulp</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img class='wow bounceIn text-primary' src="/images/tech/jquery.png">
          <h3>jQuery</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img class='wow bounceIn text-primary' src="/images/tech/lodash.png">
          <h3>Lodash</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img class='wow bounceIn text-primary' src="/images/tech/npm.png">
          <h3>NPM</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img src='/images/tech/jade-logo-header.svg' class='jade wow bounceIn text-primary'>
          <h3>Jade</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img class='wow bounceIn text-primary' src="/images/tech/meanjs.png">
          <h3>MEAN.JS</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img class='wow bounceIn text-primary' src="/images/tech/sass-logo-new.png">
          <h3>SASS</h3>
        </div>
      </div>
    </div>
  </div>
</section>

