<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Technologies Used</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.5s' class='wow bounceIn logo-width' src="/images/tech/JS6_Logo.png">
          <h3>Javascript</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.1s' class='wow bounceIn logo-width' src="/images/tech/angular.png">
          <h3>Angular</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.7s' class='wow bounceIn logo-width' src="/images/tech/typescript-logo.png">
          <h3>Typescript</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.4s' class='wow bounceIn logo-width' src="/images/tech/ionic-logo.png">
          <h3>Ionic</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.8s' class='wow bounceIn logo-width' src="/images/tech/nodejs.png">
          <h3>Node.JS</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.8s' class='wow bounceIn logo-width' src="/images/tech/hapi-logo.png">
          <h3>Hapi</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.8s' class='wow bounceIn logo-width' src="/images/tech/express.png">
          <h3>Express</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.7s' class='wow bounceIn logo-width' src="/images/tech/dot_netlogo.png">
          <h3>C#/.NET</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='1s' class='wow bounceIn logo-width' src="/images/tech/html5.png">
          <h3>HTML5</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.4s' class='wow bounceIn logo-width' src="/images/tech/css3.png">
          <h3>CSS3</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img class='wow bounceIn logo-width' src="/images/tech/sass-logo-new.png">
          <h3>SASS</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.2s' class='wow bounceIn logo-width' src="/images/tech/bootstrap.png">
          <h3>Bootstrap</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.7s' class='wow bounceIn logo-width' src="/images/tech/webpack-logo.png">
          <h3>Webpack</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.8s' class='wow bounceIn logo-width' src="/images/tech/gulp.png">
          <h3>Gulp</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.7s' class='wow bounceIn logo-width' src="/images/tech/mongodb.png">
          <h3>MongoDB</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.2s' class='wow bounceIn logo-width' src="/images/tech/mysql-logo.png">
          <h3>MySQL</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.5s' class='wow bounceIn logo-width' src="/images/tech/xcode-logo.png">
          <h3>Xcode</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.6s' class='wow bounceIn logo-width' src="/images/tech/git-logo.png">
          <h3>Git</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img class='wow bounceIn logo-width' src="/images/tech/jquery.png">
          <h3>jQuery</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img data-wow-delay='.5s' class='wow bounceIn logo-width' src="/images/tech/firebase.png">
          <h3>Firebase</h3>
        </div>
      </div>

    </div>
  </div>
</section>
